///
/// SCSS font stack variables & maps
///

// Font stacks
// ------------------------------------------------
$general: '"Red Hat Text"', -apple-system, BlinkMacSystemFont, '"Segoe UI"', '"Roboto"', '"Oxygen-Sans"', '"Ubuntu"', '"Cantarell"', '"Helvetica Neue"', sans-serif, '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"' !default;

$display: '"Red Hat Display"', -apple-system, BlinkMacSystemFont, '"Segoe UI"', '"Roboto"', '"Oxygen-Sans"', '"Ubuntu"', '"Cantarell"', '"Helvetica Neue"', sans-serif, '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"' !default;

$monospace: '"Red Hat Mono"', '"Source Code Pro"', '"Roboto Mono"', '"Fira Code"', '"Liberation Mono"', '"Inconsolata"', '"Menlo"', '"Monaco"', '"Consolas"', '"Cascadia Mono"', '"Segoe UI Mono"', '"Oxygen Mono"', '"Ubuntu Monospace"', '"Fira Mono"', '"Droid Sans Mono"', '"Courier New"', '"Courier"', ui-monospace, monospace, '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"' !default;

// Map stacks
// ------------------------------------------------
$stacks: (
	'general'   : $general,
	'display'   : $display,
	'monospace' : $monospace
) !default;
