///
/// Aside/sidebar content
///

.page-sidebar {
	position: var( --bl-sidebar--position, var( --bl-sidebar--position ) );
	display: var( --bl-sidebar--display, var( --bl-sidebar--display, flex ) );
	flex-direction: var( --bl-sidebar--flex-direction, var( --bl-sidebar--flex-direction, column ) );
	flex-wrap: var( --bl-sidebar--flex-wrap, var( --bl-sidebar--flex-wrap ) );
	align-items: var( --bl-sidebar--align-items, var( --bl-sidebar--align-items ) );
	justify-content: var( --bl-sidebar--justify-content, var( --bl-sidebar--justify-content ) );
	width: var( --bl-sidebar--width, var( --bl-sidebar--width, 320px ) );
	max-width: var( --bl-sidebar--max-width, var( --bl-sidebar--max-width ) );
	height: var( --bl-sidebar--height );
	margin: var( --bl-sidebar--margin, var( --bl-sidebar--margin, var( --bl-spacing--vert, 2rem ) 0 0 0 ) );
	padding: var( --bl-sidebar--padding, var( --bl-sidebar--padding ) );
	font-family: var( --bl-sidebar--font-family, inherit );
	font-size: var( --bl-sidebar--font-size, inherit );
	font-weight: var( --bl-sidebar--font-weight, inherit );
	font-style: var( --bl-sidebar--font-style, inherit );
	font-variant: var( --bl-sidebar--font-variant, inherit );
	line-height: var( --bl-sidebar--line-height, inherit );
	letter-spacing: var( --bl-sidebar--letter-spacing, inherit );
	word-spacing: var( --bl-sidebar--word-spacing, inherit );
	text-decoration: var( --bl-sidebar--text-decoration, inherit );
	text-transform: var( --bl-sidebar--text-transform, inherit );
	background-color: var( --bl-sidebar--bg-color, var( --bl-sidebar--bg-color, inherit ) );
	color: var( --bl-sidebar--text-color, var( --bl-sidebar--text-color, inherit ) );

	@media ( prefers-color-scheme: dark ) {
		background-color: var( --bl-sidebar--bg-color--dark, var( --bl-sidebar--bg-color--dark, inherit ) );
		color: var( --bl-sidebar--text-color--dark, var( --bl-sidebar--text-color--dark, inherit ) );
	}

	@container page-wrap ( max-width: 960px ) {
		display: var( --bl-sidebar--bottom--display, var( --bl-sidebar--display, grid ) );
		grid-template-columns: var( --bl-sidebar--bottom--grid-template-columns, var( --bl-sidebar--grid-template-columns, repeat( 2, 1fr ) ) );
		gap:  var( --bl-sidebar--bottom--gap, var( --bl-spacing--vert, 2rem ) var( --bl-spacing--horz, 2rem ) );
		width: var( --bl-sidebar--bottom--width, var( --bl-sidebar--width, 100% ) );
		max-width: var( --bl-sidebar--bottom--max-width, var( --bl-sidebar--max-width ) );
		margin: 0;
		background-color: var( --bl-sidebar--bottom--bg-color, var( --bl-sidebar--bg-color, inherit ) );
		color: var( --bl-sidebar--bottom--text-color, var( --bl-sidebar--text-color, inherit ) );
	}

	@media screen and ( max-width: 960px ) {
		display: var( --bl-sidebar--bottom--display, var( --bl-sidebar--display, grid ) );
		grid-template-columns: var( --bl-sidebar--bottom--grid-template-columns, var( --bl-sidebar--grid-template-columns, repeat( 2, 1fr ) ) );
		gap:  var( --bl-sidebar--bottom--gap, var( --bl-spacing--vert, 2rem ) var( --bl-spacing--horz, 2rem ) );
		width: var( --bl-sidebar--bottom--width, var( --bl-sidebar--width, 100% ) );
		max-width: var( --bl-sidebar--bottom--max-width, var( --bl-sidebar--max-width ) );
		margin: 0;
		background-color: var( --bl-sidebar--bottom--bg-color, var( --bl-sidebar--bg-color, inherit ) );
		color: var( --bl-sidebar--bottom--text-color, var( --bl-sidebar--text-color, inherit ) );

		@media ( prefers-color-scheme: dark ) {
			background-color: var( --bl-sidebar--bottom--bg-color--dark, var( --bl-sidebar--bg-color--dark, inherit ) );
			color: var( --bl-sidebar--bottom--text-color--dark, var( --bl-sidebar--text-color--dark, inherit ) );
		}
	}

	@container page-wrap ( max-width: 640px ) {
		display: var( --bl-sidebar--bottom--tablet--display, var( --bl-sidebar--bottom--display, var( --bl-sidebar--display, block ) ) );
	}

	@media screen and ( max-width: 640px ) {
		display: var( --bl-sidebar--bottom--tablet--display, var( --bl-sidebar--bottom--display, var( --bl-sidebar--display, block ) ) );
	}

	.plugin {
		width: var( --bl-sidebar--plugin--width, 100% );
		max-width: var( --bl-sidebar--plugin--max-width, 100% );
		height: var( --bl-sidebar--plugin--height, auto );
		margin: var( --bl-sidebar--plugin--margin, 0 );
		padding: var( --bl-sidebar--plugin--padding, 0 );
		display: var( --bl-sidebar--plugin--display, block );
		position: var( --bl-sidebar--plugin--position, static );

		&:not( :first-of-type ) {
			margin-top: var( --bl-sidebar--plugin--margin-top, calc( var( --bl-spacing--vert ) * .75 ) );

			@container page-wrap ( max-width: 960px ) {
				margin-top: 0;
			}
			@media screen and ( max-width: 960px ) {
				margin-top: 0;
			}
			@container page-wrap ( max-width: 640px ) {
				margin-top: var( --bl-spacing--vert, 2rem );
			}
			@media screen and ( max-width: 640px ) {
				margin-top: var( --bl-spacing--vert, 2rem );
			}
		}

		.plugin-content {
			margin: var( --bl-plugin-content--margin, 0 );
			margin-top: var( --bl-sidebar--plugin--margin-top, calc( var( --bl-spacing--vert ) * .5 ) );
		}
	}

	h2,
	h3 {
		margin: var( --bl-sidebar--heading--margin, 0 );
		padding: var( --bl-sidebar--heading--padding, 0 );
		font-family: var( --bl-sidebar--heading--font-family, var( --bl-heading-secondary--font-family, var( --bl-fonts--display-stack, inherit ) ) );
		font-size: var( --bl-sidebar--heading--font-size, var( --bl-heading-secondary--font-size ) );
		font-weight: var( --bl-sidebar--heading--font-weight, var( --bl-heading-secondary--font-weight ) );
		font-style: var( --bl-sidebar--heading--font-style, var( --bl-heading-secondary--font-style ) );
		font-variant: var( --bl-sidebar--heading--font-variant, var( --bl-heading-secondary--font-variant ) );
		line-height: var( --bl-sidebar--heading--line-height, var( --bl-heading-secondary--line-height ) );
		letter-spacing: var( --bl-sidebar--heading--letter-spacing, var( --bl-heading-secondary--letter-spacing, -0.015em ) );
		word-spacing: var( --bl-sidebar--heading--word-spacing, var( --bl-heading-secondary--word-spacing, -0.0325em ) );
		text-decoration: var( --bl-sidebar--heading--text-decoration, var( --bl-heading-secondary--text-decoration ) );
		text-transform: var( --bl-sidebar--heading--text-transform, var( --bl-heading-secondary--text-transform ) );

		a {
			font-size: inherit;
			font-weight: inherit;
			font-style: inherit;
			font-variant: inherit;
			text-decoration: inherit;
			text-transform: inherit;
			color: inherit;

			@media ( prefers-color-scheme: dark ) {
				color: inherit;
			}

			&:hover,
			&:focus {
				color: inherit;

				@media ( prefers-color-scheme: dark ) {
					color: inherit;
				}
			}
		}
	}

	a {
		font-size: var( --bl-sidebar--link--font-size, var( --bl-link--font-size, inherit ) );
		font-weight: var( --bl-sidebar--link--font-weight, var( --bl-link--font-weight, inherit ) );
		font-style: var( --bl-sidebar--link--font-style, var( --bl-link--font-style, normal ) );
		font-variant: var( --bl-sidebar--link--font-variant, var( --bl-link--font-variant, normal ) );
		text-decoration: var( --bl-sidebar--link--text-decoration, var( --bl-link--text-decoration, underline ) );
		text-transform: var( --bl-sidebar--link--text-transform, var( --bl-link--text-transform, inherit ) );
		color: var( --bl-sidebar--link--text-color, var( --bl-link--text-color ) );

		@media ( prefers-color-scheme: dark ) {
			color: var( --bl-sidebar--link--text-color--dark, var( --bl-link--text-color--dark ) );
		}

		&:hover,
		&:focus {
			color: var( --bl-sidebar--link--action--text-color, var( --bl-link--action--text-color ) );

			@media ( prefers-color-scheme: dark ) {
				color: var( --bl-sidebar--link--action--text-color--dark, var( --bl-link--action--text-color--dark ) );
			}
		}
	}

	ul {
		margin: var( --bl-sidebar--ul--margin, var( --bl-sidebar--list--margin, 1rem 0 0 0 ) );
		padding: var( --bl-sidebar--ul--padding, var( --bl-sidebar--list--padding, 0 ) );
		list-style: var( --bl-sidebar--ul--list-style, var( --bl-sidebar--list--list-style, none ) );
	}

	ol {
		margin: var( --bl-sidebar--ol--margin, var( --bl-sidebar--list--margin, 1rem 0 0 0 ) );
		padding: var( --bl-sidebar--ol--padding, var( --bl-sidebar--list--padding, 0 0 0 1em ) );
	}
}

.template-sidebar-bottom {
	.page-sidebar {
		display: var( --bl-sidebar--bottom--display, var( --bl-sidebar--display, grid ) );
		grid-template-columns: var( --bl-sidebar--bottom--grid-template-columns, var( --bl-sidebar--grid-template-columns, repeat( 3, 1fr ) ) );
		gap:  var( --bl-sidebar--bottom--gap, var( --bl-spacing--vert, 2rem ) var( --bl-spacing--horz, 2rem ) );
		width: var( --bl-sidebar--bottom--width, var( --bl-sidebar--width, 100% ) );
		max-width: var( --bl-sidebar--bottom--max-width, var( --bl-sidebar--max-width ) );
		padding: var( --bl-sidebar--bottom--padding, var( --bl-sidebar--padding, var( --bl-spacing--vert, 2rem ) 0 0 0 ) );
		background-color: var( --bl-sidebar--bottom--bg-color, var( --bl-sidebar--bg-color, inherit ) );
		color: var( --bl-sidebar--bottom--text-color, var( --bl-sidebar--text-color, inherit ) );

		@media ( prefers-color-scheme: dark ) {
			background-color: var( --bl-sidebar--bottom--bg-color--dark, var( --bl-sidebar--bg-color--dark, inherit ) );
			color: var( --bl-sidebar--bottom--text-color--dark, var( --bl-sidebar--text-color--dark, inherit ) );
		}

		@media screen and ( max-width: 960px ) {
			grid-template-columns: var( --bl-sidebar--bottom--tablet--grid-template-columns, var( --bl-sidebar--bottom--grid-template-columns, var( --bl-sidebar--grid-template-columns, repeat( 2, 1fr ) ) ) );
		}

		@media screen and ( max-width: 640px ) {
			display: var( --bl-sidebar--bottom--tablet--display, var( --bl-sidebar--bottom--display, var( --bl-sidebar--display, block ) ) );
		}
	}
}

// Search hidden.
.sidebar-search-hidden {
	.page-sidebar {
		.plugin-search {
			display: none !important;
		}
	}
}
