///
/// Site footer styles
///

.site-footer {
	width: var( --bl-site-footer-text--width, 100% );
	max-width: var( --bl-site-footer-text--max-width, 100% );
	min-width: var( --bl-site-footer-text--min-width );
	height: var( --bl-site-footer-text--height, 100% );
	max-height: var( --bl-site-footer-text--max-height );
	min-height: var( --bl-site-footer-text--min-height );
	margin: var( --bl-site-footer--margin, 0 );
	padding: var( --bl-site-footer--padding, var( --bl-spacing--vert, 2rem ) var( --bl-spacing--horz, 2rem ) );
	font-family: var( --bl-site-footer--font-family, inherit );
	font-size: var( --bl-site-footer--font-size, inherit );
	font-weight: var( --bl-site-footer--font-weight, inherit );
	font-style: var( --bl-site-footer--font-style, inherit );
	font-variant: var( --bl-site-footer--font-variant, inherit );
	letter-spacing: var( --bl-site-footer--letter-spacing, var( --bl-letter-spacing, normal ) );
	word-spacing: var( --bl-site-footer--word-spacing, var( --bl-word-spacing, normal ) );
	line-height: var( --bl-site-footer--line-height, var( --bl-line-height ) );
	background-color: var( --bl-site-footer--bg-color, inherit );
	color: var( --bl-site-footer--text-color, inherit );

	@media ( prefers-color-scheme: dark ) {
		background-color: var( --bl-site-footer--bg-color--dark, inherit );
		color: var( --bl-site-footer--text-color--dark, inherit );
	}

	.site-footer-text {
		width: var( --bl-site-footer-text--width, 100% );
		max-width: var( --bl-site-footer-text--max-width, 100% );
		margin: var( --bl-site-footer-text--margin, 0 );
		padding: var( --bl-site-footer-text--padding, 0 );
		text-align: var( --bl-site-footer-text--text-align, center );
		font-family: var( --bl-site-footer-text--font-family, inherit );
		font-size: var( --bl-site-footer-text--font-size, 1.25rem );
		font-weight: var( --bl-site-footer-text--font-weight, inherit );
		font-style: var( --bl-site-footer-text--font-style, inherit );
		font-variant: var( --bl-site-footer-text--font-variant, inherit );
		letter-spacing: var( --bl-site-footer-text--letter-spacing, var( --bl-letter-spacing, normal ) );
		word-spacing: var( --bl-site-footer-text--word-spacing, var( --bl-word-spacing, normal ) );
		line-height: var( --bl-site-footer-text--line-height, var( --bl-line-height ) );
		background-color: var( --bl-site-footer-text--bg-color, inherit );
		color: var( --bl-site-footer-text--text-color, inherit );

		@media ( prefers-color-scheme: dark ) {
			background-color: var( --bl-site-footer-text--bg-color--dark, inherit );
			color: var( --bl-site-footer-text--text-color--dark, inherit );
		}
	}

	.footer-socials-heading {
		text-align: var( --bl-site-footer-social--heading--text-align, center );
		font-family: var( --bl-site-footer-social--heading--font-family, var( --bl-heading-secondary--font-family, var( --bl-fonts--display-stack, inherit ) ) );
		font-size: var( --bl-site-footer-social--heading--font-size, var( --bl-heading-secondary--font-size, 1.375rem ) );
		font-weight: var( --bl-site-footer-social--heading--font-weight, var( --bl-heading-secondary--font-weight, 700 ) );
		font-style: var( --bl-site-footer-social--heading--font-style, var( --bl-heading-secondary--font-style, inherit ) );
		font-variant: var( --bl-site-footer-social--heading--font-variant, var( --bl-heading-secondary--font-variant, inherit ) );
		line-height: var( --bl-site-footer-social--heading--line-height, var( --bl-heading-secondary--line-height, inherit ) );
		letter-spacing: var( --bl-site-footer-social--heading--letter-spacing, var( --bl-heading-secondary--letter-spacing, normal ) );
		word-spacing: var( --bl-site-footer-social--heading--word-spacing, var( --bl-heading-secondary--word-spacing, -0.0325em ) );
		text-decoration: var( --bl-site-footer-social--heading--text-decoration, var( --bl-heading-secondary--text-decoration ) );
		text-transform: var( --bl-site-footer-social--heading--text-transform, var( --bl-heading-secondary--text-transform ) );
		color: var( --bl-site-footer-social--heading--text-color, var( --bl-heading-secondary--text-color, var( --bl-body--text-color ) ) );

		@media ( prefers-color-scheme: dark ) {
			color: var( --bl-site-footer-social--heading--text-color--dark, var( --bl-heading-secondary--text-color--dark, var( --bl-body--text-color--dark ) ) );
		}
	}

	.copyright {
		text-align: var( --bl-copyright--text-align, center );
		font-family: var( --bl-copyright--font-family, inherit );
		font-size: var( --bl-copyright--font-size, 0.8125rem );
		font-weight: var( --bl-copyright--font-weight, inherit );
		font-style: var( --bl-copyright--font-style, inherit );
		font-variant: var( --bl-copyright--font-variant, inherit );
		letter-spacing: var( --bl-copyright--letter-spacing, var( --bl-letter-spacing, normal ) );
		word-spacing: var( --bl-copyright--word-spacing, var( --bl-word-spacing, normal ) );
		line-height: var( --bl-copyright--line-height, var( --bl-line-height ) );
		color: var( --bl-copyright--text-color, var( --bl-body--text-color ) );

		@media ( prefers-color-scheme: dark ) {
			color: var( --bl-copyright--text-color--dark, var( --bl-body--text-color--dark ) );
		}
	}

	.search-form-wrap {
		width: 100%;
		max-width: var( --bl-form-element--max-width, 640px );
		margin: calc( var( --bl-spacing--vert ) / 2 ) auto;

		.search-form {
			margin: 0;
		}
	}
}
