///
/// Form styles
///

form {
	position: var( --bl-form--position, static );
	display: var( --bl-form--display, block );
	margin: var( --bl-form--margin );
	padding: var( --bl-form--padding );
	width: var( --bl-form--width );
	max-width: var( --bl-form--max-width );
	background-color: var( --bl-form--bg-color );
	border: var( --bl-form--border );

	@media ( prefers-color-scheme: dark ) {
		background-color: var( --bl-form--bg-color--dark );
		border-color: var( --bl-form--border-color--dark );
	}

	& * + * {
		margin: var( --bl-form--adjacent--margin, var( --bl-element--margin, 1em 0 0 0 ) );
	}
}

fieldset {
	margin: var( --bl-fieldset--margin );
	padding: var( --bl-fieldset--padding );
	width: var( --bl-fieldset--width, 100% );
	max-width: var( --bl-fieldset--max-width, 100% );
	background-color: var( --bl-fieldset--bg-color );
	border: var( --bl-fieldset--border );

	@media ( prefers-color-scheme: dark ) {
		background-color: var( --bl-fieldset--bg-color--dark );
		border-color: var( --bl-fieldset--border-color--dark, var( --bl-form--border-color--dark ) );
	}
}

legend {
	margin: var( --bl-legend--margin );
	padding: var( --bl-legend--padding );
	width: var( --bl-legend--width );
	max-width: var( --bl-legend--max-width );
	font-family: var( --bl-legend-font-family );
	font-size: var( --bl-legend-font-size );
	font-weight: var( --bl-legend-font-weight );
	font-style: var( --bl-legend-font-style );
	font-variant: var( --bl-legend-font-variant );
	line-height: var( --bl-legend--line-height );
	letter-spacing: var( --bl-legend--letter-spacing );
	word-spacing: var( --bl-legend--word-spacing );
	text-decoration: var( --bl-legend--text-decoration );
	text-transform: var( --bl-legend--text-transform );
	background-color: var( --bl-legend--bg-color );
	border: var( --bl-legend--border );
	color: var( --bl-legend--text-color );

	@media ( prefers-color-scheme: dark ) {
		background-color: var( --bl-legend--bg-color--dark );
		border-color: var( --bl-legend--border-color--dark );
		color: var( --bl-legend--text-color--dark );
	}
}

label {
	position: var( --bl-label--position );
	display: var( --bl-label--display );
	margin: var( --bl-label--margin );
	padding: var( --bl-label--padding );
}

input,
textarea,
select,
button,
.button {
	position: var( --bl-form-element--position );
	display: var( --bl-form-element--display );
	width: var( --bl-form-element--width, 100% );
	max-width: var( --bl-form-element--max-width, 100% );
	margin: var( --bl-form-element--margin );
	padding: var( --bl-form-element--padding );
	font-weight: var( --bl-form-element--font-weight );
	background-color: var( --bl-form-element--bg-color );
	border: var( --bl-form-element--border, var( --bl-box--border ) );
	color: var( --bl-form-element--text-color, var( --bl-body--text-color ) );

	@media ( prefers-color-scheme: dark ) {
		background-color: var( --bl-form-element--bg-color--dark );
		border-color: var( --bl-form-element--border-color--dark, var( --bl-box--border-color--dark ) );
		color: var( --bl-form-element--text-color--dark, var( --bl-body--text-color--dark ) );
	}

	&:focus {
		border-color: var( --bl-form-element--action--border-color );
		box-shadow: var( --bl-form-element--action--box-shadow );

		@media ( prefers-color-scheme: dark ) {
			border-color: var( --bl-form-element--action--border-color--dark );
			box-shadow: var( --bl-form-element--action--box-shadow--dark );
		}
	}
}

input[type="text"],
input[type="email"],
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"] {
	cursor: text;
	min-width: var( --bl-input--text--min-width, 160px );
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
	width: var( --bl-input--check--width, auto );
}

.site-content button,
.button,
button[type="submit"],
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="image"] {
	cursor: pointer;
	display: var( --bl-button--display, inline-block );
	width: var( --bl-button--width, auto );
	max-width: var( --bl-button--max-width );
	margin: var( --bl-button--margin );
	padding: var( --bl-button--padding, var( --bl-form-element--padding, 1em ) );
	line-height: var( --bl-button--line-height, 1 );
	font-family: var( --bl-button--font-family, var( --bl-display--font-family ) );
	font-size: var( --bl-button--font-size );
	font-weight: var( --bl-button--font-weight, var( --bl-display--font-weight ) );
	font-style: var( --bl-button--font-style );
	font-variant: var( --bl-button--font-variant );
	line-height: var( --bl-button--line-height );
	letter-spacing: var( --bl-button--letter-spacing, var( --bl-display--letter-spacing ) );
	word-spacing: var( --bl-button--word-spacing );
	word-break: keep-all;
	text-decoration: var( --bl-button--text-decoration );
	text-transform: var( --bl-button--text-transform );
	background-color: var( --bl-button--bg-color, var( --bl-body--bg-color ) );
	border-color: var( --bl-button--border-color, var( --bl-box--border-color ) );
	color: var( --bl-button--text-color, var( --bl-body--text-color ) );
	text-decoration: var( --bl-button--text-decoration, none );
	transition: var( --bl-button--transition--property, all ) var( --bl-button--transition--duration, .15s ) var( --bl-button--transition--function, ease-in-out );

	@media ( prefers-color-scheme: dark ) {
		background-color: var( --bl-button--bg-color--dark, var( --bl-body--bg-color--dark ) );
		border-color: var( --bl-button--border-color--dark, var( --bl-box--border-color--dark ) );
		color: var( --bl-button--text-color--dark, var( --bl-body--text-color--dark ) );
	}

	svg {
		width: var( --bl-button--svg-icon--width );
		height: var( --bl-button--svg-icon--height );
		vertical-align: baseline;
		fill: currentColor;
	}

	&:hover,
	&:focus {
		background-color: var( --bl-button--action--bg-color, var( --bl-button--bg-color ) );
		border-color: var( --bl-button--action--border-color, var( --bl-button--border-color, ) );
		color: var( --bl-button--action--text-color, var( --bl-button--text-color ) );

		@media ( prefers-color-scheme: dark ) {
			background-color: var( --bl-button--action--bg-color--dark, var( --bl-button--bg-color--dark ) );
			border-color: var( --bl-button--action--border-color--dark, var( --bl-button--border-color--dark, ) );
			color: var( --bl-button--action--text-color--dark, var( --bl-button--text-color--dark ) );
		}
	}

	&.disabled,
	&:disabled {
		cursor: var( --bl-button--disabled--cursor, not-allowed );
		background-color: var( --bl-button--disabled--bg-color, #eeeeee );
		border-color: var( --bl-button--disabled--border-color, #cccccc );
		color: var( --bl-button--disabled--text-color, #cccccc );

		@media ( prefers-color-scheme: dark ) {
			background-color: var( --bl-button--disabled--bg-color--dark, #eeeeee );
			border-color: var( --bl-button--disabled--border-color--dark, #cccccc );
			color: var( --bl-button--disabled--text-color--dark, #cccccc );
		}
	}
}

input[type="number"] {
	cursor: auto;
	width: auto;
	padding: var( --bl-input--type-number--padding, 0.6em 1em );
}

input[type="range"] {
	cursor: pointer;
	padding: var( --bl-input--type-range--padding, 1.3em 1em );
}

input[type="date"] {
	cursor: auto;
}

button:disabled,
button[disabled],
input:disabled,
input[disabled] {
	cursor: not-allowed !important;
	opacity: var( --bl-button--disabled--opacity, 0.5 );
}

textarea {
	min-height: var( --bl-textarea--min-height );
	margin: var( --bl-textarea--margin );
	padding: var( --bl-textarea--padding );
	font-size: var( --bl-textarea--font-size );
}

select {
	cursor: auto;
	margin: var( --bl-select--margin );
	padding: var( --bl-select--padding );
}

option {
	appearance: none;
}

*::-webkit-input-placeholder {
	color: var( --bl-form--placeholder-color );

	@media ( prefers-color-scheme: dark ) {
		color: var( --bl-form--placeholder-color--dark, var( --bl-form--placeholder-color ) );
	}
}

*::-o-placeholder {
	color: var( --bl-form--placeholder-color );

	@media ( prefers-color-scheme: dark ) {
		color: var( --bl-form--placeholder-color--dark, var( --bl-form--placeholder-color ) );
	}
}

*:-moz-placeholder {
	color: var( --bl-form--placeholder-color );

	@media ( prefers-color-scheme: dark ) {
		color: var( --bl-form--placeholder-color--dark, var( --bl-form--placeholder-color ) );
	}
}

*::-moz-placeholder {
	color: var( --bl-form--placeholder-color );

	@media ( prefers-color-scheme: dark ) {
		color: var( --bl-form--placeholder-color--dark, var( --bl-form--placeholder-color ) );
	}
}

*:-ms-input-placeholder {
	color: var( --bl-form--placeholder-color );

	@media ( prefers-color-scheme: dark ) {
		color: var( --bl-form--placeholder-color--dark, var( --bl-form--placeholder-color ) );
	}
}

*::placeholder {
	color: var( --bl-form--placeholder-color );

	@media ( prefers-color-scheme: dark ) {
		color: var( --bl-form--placeholder-color--dark, var( --bl-form--placeholder-color ) );
	}
}

// Search form.
.search-form {
	display: var( --bl-search-form--display, flex );
	flex-direction: var( --bl-search-form--flex-direction, row );
	align-items: var( --bl-search-form--align-items );
	justify-content: var( --bl-search-form--justify-content );
	flex-wrap: var( --bl-search-form--flex-wrap, nowrap );
	gap: var( --bl-search-form--gap, 0 0.25em );
	margin: var( --bl-search-form--margin, 1em 0 );
	padding: var( --bl-search-form--padding, 0 );
	width: var( --bl-search-form--width );
	max-width: var( --bl-search-form--max-width );

	label {
		width: var( --bl-search-form--label--width, 100% );
		font-size: var( --bl-search-form--label--font-size, 1.5rem );
		font-weight: var( --bl-search-form--label--font-weight, 700 );
	}

	input[type="search"],
	input[type="text"] {
		width: 100%;
		max-width: var( --bl-form-element--max-width, 640px );
	}

	input[type="button"] {
		display: var( --bl-search--button--display, inline-block );
	}
}

h2 + .search-form,
h3 + .search-form {
	margin: var( --bl-heading-search-form--margin, 0.5em 0 0 );
}

.search-form input[type="search"],
.search-form input[type="submit"] {
	display: inline-block;
	margin: var( --bl-search-form--input--margin, 0 );
}

.search-label {
	display: inline-block;
	margin: var( --bl-search-form--label--margin, 0 0.3em 0 0 );
}

.search-submit {
	transform: translateX( -1px );
}

.search-form {
	input[type="search"] {
		&:focus {
			z-index: 1;
		}
	}
}

.search-has-icon {
	.search-form {
		input[type="button"] {
			text-indent: -999em;
			position: var( --bl-search--button--position );
			display: var( --bl-search--button--display, inline-block );
			width: var( --bl-search--button--width, 1.5em );
			height: var( --bl-search--button--height, 1.5em );
			padding: var( --bl-search--button--padding, 1.5em );
			background-repeat: var( --bl-search--button--background-repeat, no-repeat );
			background-size: var( --bl-search--button--background-size, 1.25em );
			background-position: var( --bl-search--button--background-position, center center );
			background-image: var( --bl-search--button--background-image );

			&:hover,
			&:focus {
				background-image: var( --bl-search--button--action--background-image );
			}
		}
	}
}
